* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: black;
    margin-bottom: 25px;
}

header {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    user-select: none;
}

header > .right {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    margin-right: 25px;
}

header > .right > * {
    color: darkorange;
}

header > .right > #nickname,
header > .right > #signin,
header > .right > #signup {
    cursor: pointer;
}

nav {
    display: flex;
    background: darkorange;
    height: 40px;
    align-items: center;
    user-select: none;
}

nav > .center {
    display: flex;
}

nav > .center > * {
    cursor: pointer;
}

nav > .cart {
    position: absolute;
    right: 0;
    margin-right: 25px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-image: url("/index/img/cart.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    gap: 25px;
}

aside > .product {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background: darkorange;
    padding: 5px;
    flex-grow: 1;
}

aside > .product > * {
    margin: 5px;
    user-select: none;
}

aside > .product > .img {
    display: flex;
    justify-content: center;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

aside > .product > .footer {
    display: flex;
    justify-content: space-between;
}

aside > .product > .footer > .buy {
    cursor: pointer;
    background: white;
    border-radius: 20px;
    padding: 0 10px;
    border: 1px solid;
}

aside > .cart {
    display: flex;
    width: 100%;
}

aside > .cart > .order-list {
    display: flex;
    flex-grow: 2;
    background: darkorange;
    border-right: 1px solid black;
    flex-direction: column;
    height: fit-content;
}

aside > .cart > .info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: white;
    height: fit-content;
}

aside > .cart > .order-list > .order-item {
    display: flex;
    height: fit-content;
    background: white;
    margin: 8px;
    padding: 8px;
    border: 1px solid black;
}

aside > .cart > .order-list > .order-item > .img {
    width: 50px;
    height: 50px;
    background-image: url(/index/img/pc.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

aside > .cart > .order-list > .order-item > .info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 10px;
}

aside > .cart > .order-list > .order-item > .info > .name {
    flex-grow: 1;
}

aside > .cart > .order-list > .order-item > .info > .price {
    flex-grow: 1;
}

aside > .cart > .order-list > .order-item > .control {
    display: flex;
    flex-direction: row;
    align-items: center;
}

aside > .cart > .order-list > .order-item > .control > .count {
    text-align: center;
    width: 30px;
    border: 1px solid black;
    margin-right: 10px;
}

aside > .cart > .order-list > .order-item > .control > .remove {
    width: 30px;
    background-color: red;
    border: 1px solid black;
}

aside > .cart > .info > .info-list {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

aside > .cart > .info > .order-btn {
    display: flex;
    flex-direction: column;
}

aside > .cart > .info > .order-btn > .order {
    cursor: pointer;
    background: darkorange;
    border-radius: 20px;
    padding: 0 10px;
    border: 1px solid;
    margin: 8px;
}

.popup {
    display: flex;
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.popup > .login-window {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 20px;
    background-color: darkorange;
}

.popup > .login-window > input[type=text] {
    text-align: center;
    margin-bottom: 20px;
}

.popup > .login-window > .btn-login {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.popup > .login-window > .btn-signup {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.popup > .signup-window {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 20px;
    background-color: darkorange;
}

.popup > .signup-window > input[type=text] {
    text-align: center;
    margin-bottom: 20px;
}

.popup > .signup-window > .btn-signup {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.popup > .signup-window > .btn-login {
    background: transparent;
    border: 0;
    cursor: pointer;
}