* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.container > .header {
    display: flex;
}

.container > .header > .order-id {
    flex-grow: 1;
}

.container > .header > .user-info {
    display: flex;
    flex-direction: column;
}

.container > .order-list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.container > .order-list > .order-item {
    display: flex;
    flex-direction: row;
}

.container > .order-list > .order-item > * {
    width: 100%;
    border-top: 1px solid black;
    border-right: 1px solid black;
}